<tr data-item="{{id}}">
  <td>
    <a href="/_files/{{id}}" target="_blank">{{filename}}</a>
  </td>
  <td>
    {{mimetype}}
  </td>
  <td>
    {{size}}
  </td>
  <td>
    {{dateTime created}}
  </td>
  <td>
    <a href="#" data-id="{{id}}"
      data-action="remove" class="btn btn-danger">Remove</a>
  </td>
</tr>
