<div class="row-fluid" data-tag="models">
  <div class="page-header">
    <div class="pull-right">
      <span class="btn btn-primary" data-action="upload">
        Upload
        <input data-tag="fileinput" type="file" multiple name="files[]"
               style="display: none" />
      </span>
    </div>
    <h1>Files</h1>
  </div>

  <div class="span12">
    <div class="alert alert-info" style="font-size:120%" data-tag="dropzone">
      Drop files here...
    </div>
  </div>
    
  <div class="span12">
    <table class="table table-stripped">
      <tbody data-tag="workspace">
      </tbody>
    </table>
  </div>
</div>
