<div class="stats workspace with-menu">
  <div class="row-fluid">
    <div class="span3">
      <h1>Settings</h1>
      <ul class="nav nav-list" data-place="nav">
        <li data-navitem="settings-herokuapp">
          <a href="#" data-action="activate" data-name="settings-herokuapp">
            <i class="icon-home icon-white"></i> Application</a>
        </li>
        <li data-navitem="settings-ptahcrowd">
          <a href="#" data-action="activate" data-name="settings-ptahcrowd">
            <i class="icon-home icon-white"></i> Ptah crowd</a>
        </li>
      </ul>
    </div>
    <div class="span9" data-place="workspace"></div>
  </div>
</div>
