<div class="row-fluid manage-workspace" jca="{{name}}" style="height: auto">
  <div class="menu pull-left">
    <h1>Ptah manage</h1>
    <ul class="nav nav-list" data-place="nav">
      <li data-navitem="manage-ptah-crud">
        <a href="#" data-action="activate"
          data-name="ptah-crud">
          <i class="icon-home icon-white"></i> Crud</a>
      </li>
      <li data-navitem="manage-ptah-files">
        <a href="#" data-action="activate" data-name="ptah-files">
          <i class="icon-home icon-white"></i> Files</a>
      </li>
      <li data-navitem="manage-todo">
        <a href="#" data-action="activate"
          data-name="todo">
          <i class="icon-home icon-white"></i> Todos</a>
      </li>
      <li data-navitem="manage-ptah-manage-users">
        <a href="#" data-action="activate"
          data-name="ptah-manage-users">
          <i class="icon-home icon-white"></i> Users</a>
      </li>
      <li data-navitem="manage-ptah-manage-settings">
        <a href="#" data-action="activate"
          data-name="ptah-manage-settings">
          <i class="icon-home icon-white"></i> Settings</a>
      </li>
    </ul>
    <hr />

    <ul class="nav nav-list" data-place="nav" data-tag="userlist">
    </ul>
  </div>
  <div class="content" data-place="workspace"></div>
</div>
