{{#users}}
  <li data-navitem="manage-{{uid}}" data-useritem="{{uid}}">
    <a href="#" data-action="select_user" data-uid="{{uid}}">
      <i class="icon-user icon-white"></i> {{name}}</a>
  </li>
{{/users}}
